@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?wfb79s');
	src:url('fonts/icomoon.eot?wfb79s#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?wfb79s') format('truetype'),
		url('fonts/icomoon.woff?wfb79s') format('woff'),
		url('fonts/icomoon.svg?wfb79s#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-home::before {
	content: "\e908";
}
.icon-power::before {
	content: "\e90a";
}
.icon-link::before {
	content: "\e903";
}
.icon-github::before {
	content: "\e907";
}
